@use "./reset.scss" as *;

:root {
  --regal-navy: #0d3b66;
  --cornsilk: #faf0ca;
  --royal-gold: #f4d35e;
  --sandy-brown: #ee964b;
  --tomato: #f95738;
}

html {
  background: var(--cornsilk);
  color: var(--regal-navy);
}
