*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  outline: none;
  box-sizing: border-box;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  max-width: 100vw;
  // overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  font: inherit;
  width: 100%;
  border: none;
}

select,
option {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  text-align: initial;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

img {
  display: block;
}

img,
svg {
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  list-style: none;
  padding: 0;
  margin: 0;
}
